[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tmux-gruvbox"]
	path = tmux/plugins/tmux-gruvbox
	url = https://git::@github.com/egel/tmux-gruvbox
	ignore = untracked
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
	ignore = untracked
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
	ignore = untracked
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
	ignore = untracked
[submodule "tmux/plugins/zsh-titles"]
	path = tmux/plugins/zsh-titles
	url = https://git::@github.com/jreese/zsh-titles
	ignore = untracked
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = untracked
[submodule "bin/trashy-src"]
	path = bin/trashy-src
	url = https://gitlab.com/trashy/trashy.git
	ignore = untracked
